*__pycache__*
*.pyc
.vscode
config.py
addons/devtools.py
saves/xmls/*
saves/warns.json
saves/faqdm.json
saves/disabled_commands.json
saves/submitted_hashes.json
saves/mutes.json
saves/layout.json
saves/new_layout.json
saves/banned_phrases.json
saves/persistent_vars.json
saves/role_mentions.json
