*__pycache__*
*.pyc
.vscode
config.py
restart.txt
warns.json
faqdm.json
disabled_commands.json
addons/devtools.py
submitted_hashes.json
saves/mutes.json
saves/layout.json
saves/new_layout.json
saves/banned_phrases.json