token = ""  # Bot's token as string
prefix = ['']  # List of strings. Defaults to '!' and '.' if left empty
default_activity = "e v e r y t h i n g"  # Default activity message as string (type defaults to watching)
secret = ""  # Website secret as string
is_beta = False  # Used to determine if bot is beta or production
github_username = ""  # Github username as string
github_password = ""  # Github token as string
is_mongodb = False  # Bool for if MongoDB database is in use
db_address = ""  # MongoDB database address as string
db_username = "" # MongoDB database username as string
db_password = "" # MongoDB database password as string
flagbrew_url = ""  # FlagBrew URL as string
star_count = 0  # starboard count as int
