token = "" # Bot's token as string
prefix = ['']  # List of strings. Defaults to '!' and '.' if left empty
secret = ""  # Website secret as string
is_beta = False  # Used to determine if bot is beta or production
github_username = ""  # Github username as string
github_password = ""  # Github password as string
is_mongodb = False  # Bool for if MongoDB database is in use
db_address = ""  # MongoDB database address as string
api_url = ""  # API URL as string
