token = "" # Bot's token as string
prefix = ['']  # List of strings. Defaults to '!' and '.' if left empty
secret = ""  # Website secret as string
is_beta = False  # Used to determine if bot is beta or production
github_username = ""  # Github username as string
github_password = ""  # Github password as string
warn_db_storage = False # Used to determine if we should use a database for storing warns or not.
db_address = "" # MongoDB Database Address
